[submodule "replay/submodules/hallc_replay"]
	path = replay/submodules/hallc_replay
	url = https://github.com/whit2333/hallc_replay.git
        branch = master
[submodule "replay/submodules/hallc_replay_sidis_fall18"]
	path = replay/submodules/hallc_replay_sidis_fall18
	url = https://github.com/whit2333/hallc_replay_sidis_fall18.git
